/* Colores */
$color-prim:#0f0e0f; /* negro */
$color-sec:#ffcd42; /* amarrillo */
$color-ter:#fbf7f7; /* blanco*/
$color-cua:#d6d6d67d; /* gris*/
$color-footer:#223030; /* footer*/

/* Fuentes */
$fuente-prim: 'Roboto' san serif;
$fuente-sec: 'Lato' san serif;
$tamano-prim: 20px;
$tamano-sec: 15px;
$fuente-btn: 13px;

/* botones */
$btn-prim:#251a3e; /* Morado */
$btn-sec:#ffcd42;  /*Amarrillo*/

/* Encabezados */
$h1:28px;
$h2:25px;
$h3:23px;
$h4:21px;
$h5:19px;
$h6:17px;